<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="App" value="MiApp" />
		<add key="Server" value="STALIN\\LLUE" />
		<add key="DBCar" value="CarProyec" />
		<add key="DBMemory" value="CarMemory" />
		<add key="ModoVirtual" value="True" />
	</appSettings>
	<connectionStrings>
		<add name="ConnSQLServer"
			 connectionString="Data source=Server; Initial Catalog=DBCar; Integrated Security=true;" />
	</connectionStrings>
</configuration>